/* mobile-sm (576px)*/
@media screen and (min-width:576px){
    .side-text{
        display: none;
    }
    
    .icon-desktop{
        display: none;
    }

    .desktop-img{
        display: none;
    }

    .badges-none{
        display: none;
    }
}




/*  tablet-md (768px)*/
@media screen and (min-width:768px){
    header{
        max-height: 150px;
    }

}


/* desktop-lg (992px)*/

@media screen and (min-width:992px){
    .sidebar{
        flex-basis: 150px;
    }

    .cont{
        width: calc(100vw - 150px);
    }
    
    .side-text{
        display: inline-block;
        
    }

    .icon-desktop{
        display: inline-block;
    }

    .mobile-img{
        display: none;
    }

    .desktop-img{
        display: inline-block;
        width:120px;
        height: 50px;
        padding-right: 10px;
    }

    .sherch{
      padding-left: 40px;
    }

    .badges-plus{
        display: none;
    }

    .badges-none{
        display: inline;
    }
 
}
